<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <property name="hibernate.connection.password">adam</property>
        <property name="hibernate.connection.url">jdbc:derby://localhost:1527/adam;create=true</property>
        <property name="hibernate.connection.username">adam</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
    <!--  mapping files  -->
    <mapping resource="Persistent/Subject.hbm.xml"/>
    <mapping resource="Persistent/Task.hbm.xml"/>
    <mapping resource="Persistent/Student.hbm.xml"/>
  </session-factory>
</hibernate-configuration>